h1{
    text-align: center;
    color: rgb(23, 56, 56);
}
body{
    background-image: url('https://images.pexels.com/photos/326279/pexels-photo-326279.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
}
p strong{
    color: #fff;
    font-size: large;
}
img{
    border-radius: 50px;
}
img:hover{
    -webkit-transform: scale(1.3); 
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.1);
    transition: transform .1s;
}
.row{
    padding-top: 30px;
}
.card{
    height: 350px;
    border-radius: 15px;
    height: 400px;
}
small{
    font-size: 11px;
    padding-bottom: 10px;
    color: rgb(119, 228, 119);
}
footer{
    padding: 50px;
    background-color: rgb(10, 8, 8);
}
footer a{
    padding: 30px;
}
.call{
    color: aqua;
    padding-left: 50px;
}
.tel{
    padding-left: 20px;
}
.h2{
    padding-left: 30px;
    color: rgb(68, 65, 65);
    font-size: 30px;
}
.chat{
    padding-top: 50px;
    padding-left: 40px;
}
.email{
    padding-left: 40px;
    padding-top: 50px;
}
.frm{
    color: rgb(18, 46, 202);
}
label{
    color: white;
}
.form-control{
    background-color: black;
    border-color: rgb(66, 35, 35);
}
textarea{
    background-color: black;
    border-color: rgb(73, 36, 36);
}
.image{
    padding: 0px;
}
.btn{
    background-color: rgb(104, 103, 102);
}
.intro{
    color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}
@media (min-width: 481px) and (max-width: 768px) {
    nav{
        padding-top: 30px;
    }
}